<div>
    <h2 id="page-heading">
        <span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.home.title">Epreuve Aconcourirs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-epreuve-aconcourir" [routerLink]="['/epreuve-aconcourir/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.home.createLabel">
            Create a new Epreuve Aconcourir
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="epreuveAconcourirs?.length === 0">
        <span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.home.notFound">No epreuveAconcourirs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="epreuveAconcourirs && epreuveAconcourirs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nom"><span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duree"><span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.duree">Duree</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="coefficiant"><span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.coefficiant">Coefficiant</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="noteEleminatoire"><span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.noteEleminatoire">Note Eleminatoire</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offre.id"><span jhiTranslate="concoursFonctionPubliqueApp.epreuveAconcourir.offre">Offre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let epreuveAconcourir of epreuveAconcourirs ;trackBy: trackId">
                    <td><a [routerLink]="['/epreuve-aconcourir', epreuveAconcourir.id, 'view']">{{ epreuveAconcourir.id }}</a></td>
                    <td>{{ epreuveAconcourir.nom }}</td>
                    <td>{{ epreuveAconcourir.duree }}</td>
                    <td>{{ epreuveAconcourir.coefficiant }}</td>
                    <td>{{ epreuveAconcourir.noteEleminatoire }}</td>
                    <td>
                        <div *ngIf="epreuveAconcourir.offre">
                            <a [routerLink]="['/offre', epreuveAconcourir.offre?.id, 'view']" >{{ epreuveAconcourir.offre?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/epreuve-aconcourir', epreuveAconcourir.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/epreuve-aconcourir', epreuveAconcourir.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(epreuveAconcourir)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="epreuveAconcourirs && epreuveAconcourirs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
