<div>
    <h2 id="page-heading">
        <span jhiTranslate="concoursFonctionPubliqueApp.fichier.home.title">Fichiers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fichier" [routerLink]="['/fichier/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="concoursFonctionPubliqueApp.fichier.home.createLabel">
            Create a new Fichier
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fichiers?.length === 0">
        <span jhiTranslate="concoursFonctionPubliqueApp.fichier.home.notFound">No fichiers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fichiers && fichiers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomFichier"><span jhiTranslate="concoursFonctionPubliqueApp.fichier.nomFichier">Nom Fichier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fich"><span jhiTranslate="concoursFonctionPubliqueApp.fichier.fich">Fich</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="depot.id"><span jhiTranslate="concoursFonctionPubliqueApp.fichier.depot">Depot</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let fichier of fichiers ;trackBy: trackId">
                    <td><a [routerLink]="['/fichier', fichier.id, 'view']">{{ fichier.id }}</a></td>
                    <td>{{ fichier.nomFichier }}</td>
                    <td>
                        <a *ngIf="fichier.fich" (click)="openFile(fichier.fichContentType, fichier.fich)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="fichier.fich">{{ fichier.fichContentType }}, {{ byteSize(fichier.fich) }}</span>
                    </td>
                    <td>
                        <div *ngIf="fichier.depot">
                            <a [routerLink]="['/depot', fichier.depot?.id, 'view']" >{{ fichier.depot?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fichier', fichier.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fichier)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
