<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offre-document-heading" jhiTranslate="concoursFonctionPubliqueApp.offreDocument.home.createOrEditLabel">Create or edit a Offre Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concoursFonctionPubliqueApp.offreDocument.offre" for="field_offre">Offre</label>
                    <select class="form-control" id="field_offre" name="offre" formControlName="offre">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="offreOption.id === editForm.get('offre')!.value?.id ? editForm.get('offre')!.value : offreOption" *ngFor="let offreOption of offres; trackBy: trackById">{{ offreOption.nomPoste }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="concoursFonctionPubliqueApp.offreDocument.documentAFournir" for="field_documentAFournir">Document A Fournir</label>
                    <select class="form-control" id="field_documentAFournir" name="documentAFournir" formControlName="documentAFournir">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentAFournirOption.id === editForm.get('documentAFournir')!.value?.id ? editForm.get('documentAFournir')!.value : documentAFournirOption" *ngFor="let documentAFournirOption of documentafournirs; trackBy: trackById">{{ documentAFournirOption.libelle }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
